<html>
  <body>      
    <iframe style="height:250px; width:340px; border-width:0;" frameborder=0
            src="http://media.fen.uchile.cl/logmod/login.php?
            from={{ url('udt_login_form')}}&
            to={{ url('udt_login_check')}}&
            referer={{ url('udt_login_form')}}">
    </iframe>   
  </body>
</html>
